* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cinza-claro: #f6f6f6;
  --cinza: #777777;
}

body {
  font-size: 16px;
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

html,
body {
  width: 100%;
  height: 100%;
}

header,
main,
footer {
  flex-shrink: 0;
}

/* DEBUG */
/* header {
  border-bottom: 1px solid green;
}

.main__container {
  border: 1px solid blue;
} */

/* NAV */
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;

  margin-top: 20px;
}

.nav__item {
  list-style: none;
  margin: 0 12px;

  display: flex;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: #525252;

  font-size: 0.9em;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__item:last-of-type {
  margin-right: 30px;
}

.nav__img {
  height: 20px;
  width: 20px;
}

.nav__perfil {
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;

  background-color: var(--cinza);
}

/* MAIN */
.main__container {
  display: flex;
  width: 600px;
  margin: 0 auto;
  flex-direction: column;
  justify-items: center;
  flex-grow: 1;
}

.main__logo {
  width: 272px;
  align-self: center;
  margin-top: 150px;
}

.busca__container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}

.main__busca-texto {
  width: 570px;
  padding: 13px;
  align-self: center;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccccccbb;
  box-shadow: 0 1px 1px 0 #ddd;

  font-size: 1em;
  margin-bottom: 45px;
}

.main__busca-icones {
  display: flex;
  width: 60px;
  position: absolute;
  align-items: center;
  margin-right: 25px;

  right: 15px;
  top: 10px;
}

.busca-microfone {
  height: 26px;
}

.busca-icone {
  margin-right: 20px;
}

.main__botao-grupo {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}

.main__botao {
  padding: 10px 15px;
  border: 1px solid var(--cinza-claro);
  border-radius: 2px;
  cursor: pointer;

  font-weight: 700;
  background-color: var(--cinza-claro);
  color: var(--cinza);
}

.main__botao:hover {
  color: #000;
  border: 1px solid #00000045;
}

.main__botao:first-of-type {
  margin-right: 10px;
}

/* Footer */
.footer__container {
  order: 1;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer__bar {
  background-color: var(--cinza-claro);
  padding: 11px 25px;
  border: 1px solid #ececec;
}

.footer__country {
  color: var(--cinza);
  font-size: 0.97em;
}

.footer__list li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}

.footer__list a {
  color: var(--cinza);
  text-decoration: none;
  font-size: 0.82em;
}

.footer__list a:hover {
  text-decoration: underline;
}

.footer__list a:active {
  color: #ee2020;
}

.footer__list--left {
  float: left;
}

.footer__list--right li:last-of-type {
  margin: 0;
}

.footer__list--right {
  float: right;
}

@media only screen and (max-width: 700px) {
  .main__container {
    min-width: 300px;
    width: 100%;
    min-height: 420px;
  }

  .main__busca-texto {
    width: 100%;
    min-width: 280px;
    padding: 13px;
    align-self: center;

    font-size: 1em;
    margin: 0 50px 45px 50px;
  }

  .main__busca {
    display: flex;
    width: 100%;
  }

  .main__busca-icones {
    right: 45px;
  }
}

@media only screen and (max-width: 550px) {
  .nav {
    justify-content: space-around;
  }

  .nav__item:last-of-type {
    margin-right: 12px;
  }

  .footer__country {
    display: none;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer__list {
    display: flex;
    justify-content: space-between;
  }

  .footer__list li {
    margin: 0;
    width: 85px;
    text-align: center;
  }

  .footer__links ul:first-of-type {
    margin-bottom: 10px;
  }

  .main__logo {
    max-width: 200px;
  }
}

@media only screen and (max-width: 370px) {
  .main__logo {
    margin-top: 80px;
  }

  .busca__container {
    margin-top: 50px;
  }

  .main__busca-texto {
    min-width: 200px;
  }
}
